/* Styles for Starter*/

*, *:before, *:after {
    box-sizing: border-box;
}
    /* universal box sizing adjustments^ */

img {
    max-width: 100%;
    min-height:
}

h1 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50pt;
    color: #fff;
    
    background-color: #D9D7D5;
    background-image: url(../IMG/hand-table-coffee-shop-coffee-people-tea-1057303-pxhere.com.jpg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    display: flex;
    
    padding-top: 20rem;  
    padding-left: 5rem; 
    margin: 0;
}

h2{
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6vw;
    margin: 0;
    margin-bottom: 8vw;
    padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.coffee{
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30pt;
    text-align: center;
    
    min-height: 15px;
    min-width: 15px;
    
    padding-top: 5rem;
        
}

.tea{
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30pt;
    text-align: center;
    
    min-height: 15px;
    min-width: 15px;
    
    padding-top: 5rem;
}

.drinks{
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30pt;
    text-align: center;
    
    min-height: 15px;
    min-width: 15px;
    
    padding-top: 5rem;
}

.Panninis{
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30pt;
    text-align: center;
    
    min-height: 15px;
    min-width: 15px;
}

.meals{
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30pt;
    text-align: center;
    
    min-height: 15px;
    min-width: 15px;
}

.Food{
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30pt;
    text-align: center;
    
    min-height: 15px;
    min-width: 15px;
}

h3{
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20pt;
    
    padding-left: 2rem;
    text-decoration: underline;

}

h4{
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20pt;
    margin:0rem;
}

li {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "product . s m l";
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 0rem;
  width: 100%;
}

.product {
  grid-area: product;
}

.small {
  grid-area: s;
  margin:0rem;
}

.medium {
  grid-area: m;
  margin: 0rem;
}

.large {
  grid-area: l;
  margin: 0rem;
}

ul {
  width: 100%;
  margin: 2rem;
}


@media screen and (min-width: 680px) {
  li {
    grid-template-areas:
      "product s m l";
  }
}


.info{
    
    
    
}









p{
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20pt
}